<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/web-server/public/img/icon.png">
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/app.js"></script>
        <title>Sobre nosotros</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>{{typeError}}</h1>
        </div>
        {{>footer}}
    </body>
</html>