<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="./img/icon.png">
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/app.js"></script>
        <title>Sobre nosotros</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>Este sitio fue creado por James Yong. Y adquiere la informacion con mapbax.com y weatherstack.com!</p>
        <img class="portrait" src="/img/me.jpeg" > 
        <p>EL pana miguel</p>
        </div>
        {{>footer}}
        
    </body>
</html>